{% extends 'KaymoreyPortfolioBundle::layout.html.twig' %}
{% block content %}
<section id="home" class="main">
	<div class="content">
		<p id="logo">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/logo.png') }}" alt="" />
		</p>
		<h1>
			<span class="uppercase">Bonjour</span> !<br />
			Je m'appelle <span class="uppercase">Katia Moreira</span><br />
			et je suis <span class="uppercase">développeuse web</span>
		</h1>
	</div>
</section>
<section id="who-i-am" class="main">
	<div class="page-content">
		<h2 class="page-title">Qui suis-je ?</h2>
		<div class="left">
			<p>
				<img src="{{ asset('bundles/kaymoreyportfolio/images/profil.png') }}" alt="" /><br />
				Je m’appelle <span class="uppercase">Katia Moreira</span>.<br />
				Détentrice d’un <strong>DUT Services et Réseaux de Communication</strong>, je suis actuellement étudiante en 1ère année à <strong>l’école d’ingenieur IMAC.</strong>
				<a href="#" class="cv">CV</a>
			</p>
		</div>
		<div class="right">
			<div id="skills">
				<img src="{{ asset('bundles/kaymoreyportfolio/images/laptop.png') }}" alt="" />
				<h3>Compétences</h3>
				<div class="content">
					<div class="legend">Langages</div><p>PHP, JavaScript, MySQL, HTML5 / CSS3, Twig</p>
					<div class="legend">Frameworks / Outils</div><P>Symfony 2, JQuery, Less, Git, SVN</p>
					<div class="legend">Logiciels / Outils</div><p>Photoshop, Indesign, Sublime Text 2, CodeKit, Tower, TortoiseSVN, Transmit</p>
				</div class="content">
			</div>
			<div id="exp-pro">
				<img src="{{ asset('bundles/kaymoreyportfolio/images/case.png') }}" alt="" />
				<h3>Expérience professionnelle</h3>
				<div class="content">
					<div class="legend">Avril - Août 2012</div><p>Stagiaire développeuse Web Symfony 2<br />Le hub Agence - Paris 11 (75)</p>
					<div class="legend">Juillet 2011</div><p>Rédactrice pour un journal interne<br />Direction générale des Douanes et Droits Indirects - Montreuil (93)</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>
<section id="projects" class="main">
	<div class="page-content">
		<h2 class="page-title">Mes projets</h2>
		<div class="content">
			<ul class="categories">
				{% for categorie in categories %}
				<li{% if categorie.title == "Pro" %} class="active"{% endif %}>
					<a href="#" data-id="{{ categorie.id }}">{{ categorie.title }}</a>
				</li>
				{% endfor %}
			</ul>
			<div class="projects">
				{% include 'KaymoreyPortfolioBundle:List:projets.html.twig' with {'projets' : projets} %}
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>
<section id="contact" class="main">
	<div class="page-content">
		<h2 class="page-title">Contact</h2>
		<div class="content">
			<h3>Et si vous aussi, vous me disiez<br /><span class="bigger">Bonjour ?</span></h3>
			<div class="content-center">
				<div class="left">
					<form method="post" action="{{ path('portfolio_contact') }}">
						{{ form_widget(form) }}
						<input type="submit" />
					</form>
					<!--<form method="post">
						<input type="text" name="name" placeholder="Nom" /><br />
						<input type="text" name="mail" placeholder="Email" /><br />
						<input type="text" name="object" placeholder="Objet" /><br />
						<textarea placeholder="Message" rows="5" cols="30"></textarea><br />
						<input type="submit" />
					</form>-->
				</div>
				<div class="right">
					<p class="mail">
						Allergique au formulaire ?<br />
						Envoyez moi un mail !<br /><br />
						contact@katia-moreira.com
					</p>
					<p class="copyright">
						Ce site a été créé grâce à Symfony 2, HTML5, CSS3, Less, jQuery.<br />
						© Katia Moreira - 2013
					</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
{% for projet in projets %}
	{% set docs = projet.docs %}
	{% if docs is not empty %}
	$(".{{projet.slug}}_fancy").click(function() {
		$.fancybox.open([
		{% for doc in docs %}
			{
				href : "{{ asset('uploads/docs/'~projet.slug~'/'~doc.path) }}",
				title : '<div><p class="projet-description">{{ doc.description }}</p><a href="{{ projet.url}}" class="projet-url">Voir le site</a></div>'
			}{% if loop.last == false %},{% endif %}
		{% endfor %}
		], {
			helpers : {
				title : {
					type : 'inside'
				}
			},
			prevEffect : 'fade', 
			nextEffect : 'fade'
		});
		return false;
	});
	{% endif %}
{% endfor %}
</script>
{% endblock %}
