{% extends 'KaymoreyPortfolioBundle::layout.html.twig' %}
{% block content %}
<div id="fb-root"></div>
<!-- Script Facebook -->
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=59514872536";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!-- Script Twitter -->
<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<section id="home">
	<div id="home-first">
		<div id="logo" class="slider">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/slider/logo.png') }}" alt="" />
			<img src="{{ asset('bundles/kaymoreyportfolio/images/slider/cwb.png') }}" alt="" />
			<img src="{{ asset('bundles/kaymoreyportfolio/images/slider/laposte.png') }}" alt="" />
			<img src="{{ asset('bundles/kaymoreyportfolio/images/slider/mosayc.png') }}" alt="" />
			<div class="circle" id="breakApartRounded"></div>
		</div>
		<div id="logo" class="static">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/slider/logo.png') }}" alt="" />
		</div>
		<div id="text">
			<h1>Katia Moreira</h1>
			<h2>Etudiante ingénieur IMAC</h2>
			<div class="fb-like" data-href="http://katia-moreira.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div><br />
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="kaymorey" data-lang="fr"></a>
			<div id="paginator">
				<a class="page"></a>
				<a class="page"></a>
				<a class="page"></a>
				<a class="page"></a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
